/reporter
/merkely
/kosli
TODO.md
merkely.yaml
kosli.yaml
pipe.json
dist/
coverage.out
cover.out
coverage.html
licenses/
**/.DS_Store
.vscode/
npm/cli*/bin/*
npm/*/kosli*.tgz
*.tar.gz
*~
/.idea
tmp/
release_notes.md
junit.xml
junit-test-results/.
.claude/settings.local.json
client_reference/
