/reporter
/merkely
/kosli
TODO
merkely.yaml
kosli.yaml
pipe.json
dist/
coverage.out
cover.out
coverage.html
licenses/
**/.DS_Store
.vscode/
/docs/public
docs.kosli.com/resources/_gen/*
docs.kosli.com/content/client_reference/kosli*
docs.kosli.com/public/
docs.kosli.com/.netlify
*.tar.gz
# keep it uncommented on main
docs.kosli.com/assets/metadata.json
tmp/
