{{- include "k8s-reporter.validateNamespacesRegex" . -}}
{{- include "k8s-reporter.validateExcludeNamespacesRegex" . -}}
{{- include "k8s-reporter.validateExcludeOptions" . -}}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "reporter.fullname" . }}
  annotations: {{ toYaml .Values.podAnnotations }}
  labels:
    {{- include "reporter.labels" . | nindent 4 }}

spec:
  schedule: {{ .Values.cronSchedule | quote }}
  concurrencyPolicy: Replace
  startingDeadlineSeconds: 30
  jobTemplate:
    spec:
      template:
        metadata:
          labels: 
            {{- range $key, $value :=  .Values.podLabels }}
              {{ $key }}: {{ $value }}
            {{ end }}    
        spec:
          serviceAccountName: {{ include "reporter.serviceAccountName" . }}
          containers:
          - name: reporter
            image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
            imagePullPolicy: {{ .Values.image.pullPolicy }}
            {{- if .Values.reporterConfig.securityContext }}
            securityContext:
              {{- if hasKey .Values.reporterConfig.securityContext "allowPrivilegeEscalation" }}
              allowPrivilegeEscalation: {{ .Values.reporterConfig.securityContext.allowPrivilegeEscalation }}
              {{- end }}
              {{- if hasKey .Values.reporterConfig.securityContext "runAsNonRoot" }}
              runAsNonRoot: {{ .Values.reporterConfig.securityContext.runAsNonRoot }}
              {{- end }}
              {{- if hasKey .Values.reporterConfig.securityContext "runAsUser" }}
              runAsUser: {{ .Values.reporterConfig.securityContext.runAsUser }}
              {{- end }}
              {{- if hasKey .Values.reporterConfig.securityContext "runAsGroup" }}
              runAsGroup: {{ .Values.reporterConfig.securityContext.runAsGroup }}
              {{- end }}
              {{- if hasKey .Values.reporterConfig.securityContext "fsGroup" }}
              fsGroup: {{ .Values.reporterConfig.securityContext.fsGroup }}
              {{- end }}
            {{- end }}
            env:
              - name: KOSLI_ORG
                value: {{ required ".Values.reporterConfig.kosliOrg is required" .Values.reporterConfig.kosliOrg }}
              - name: KOSLI_API_TOKEN
                valueFrom:
                  secretKeyRef:
                    name: {{ required ".Values.kosliApiToken.secretName is required." .Values.kosliApiToken.secretName }}
                    key: {{ .Values.kosliApiToken.secretKey | default "token" }}
              {{ if .Values.reporterConfig.namespaces }}
              - name: KOSLI_NAMESPACES
                value: {{ .Values.reporterConfig.namespaces | quote }}
              {{ else if .Values.reporterConfig.namespacesRegex }}
              - name: KOSLI_NAMESPACES_REGEX
                value: {{ .Values.reporterConfig.namespacesRegex | quote }}
              {{ else if .Values.reporterConfig.excludeNamespaces }}
              - name: KOSLI_EXCLUDE_NAMESPACES
                value: {{ .Values.reporterConfig.excludeNamespaces | quote }}
              {{ else if .Values.reporterConfig.excludeNamespacesRegex }}
              - name: KOSLI_EXCLUDE_NAMESPACES_REGEX
                value: {{ .Values.reporterConfig.excludeNamespacesRegex | quote }}
              {{ end }}

              {{- range $key, $value :=  .Values.env }}
              - name: {{ $key }}
                value: {{ $value }}
              {{ end }}    
            args:
            - snapshot
            - k8s
            - {{ required ".Values.reporterConfig.kosliEnvironmentName is required" .Values.reporterConfig.kosliEnvironmentName }}
            {{ if .Values.reporterConfig.dryRun }}
            - --dry-run 
            {{ end }}
            {{ if .Values.reporterConfig.httpProxy }}
            - --http-proxy 
            - {{ .Values.reporterConfig.httpProxy }}
            {{ end }}
            
            resources:
{{ toYmal .Values.resources | indent 14 }}
          restartPolicy: Never

