---
title: Configuration reference
description: All values.yaml options for the Kosli k8s-reporter Helm chart.
---

{{ template "mintlify.configurations" . }}

{{ template "mintlify.versionFooter" . }}
