---
title: Kubernetes Reporter Helm Chart
description: A Helm chart for installing the Kosli K8s reporter as a CronJob.
---

{{ template "mintlify.versionInfo" . }}

{{ template "chart.description" . }}
{{ template "mintlify.overviewBody" . }}
