---
title: Running behind a TLS-inspecting proxy
description: Trust a corporate / custom CA bundle when running the k8s-reporter behind a TLS-inspecting proxy.
---

{{ template "mintlify.tlsProxy" . }}
