@kosli-dev:registry=https://gitlab:8929/api/v4/projects/2/packages/npm/
//gitlab:8929/api/v4/projects/2/packages/npm/:_authToken=gldt-pqWWHpw8p2WPUNyYyYjG
cafile=/workspaces/cli/.devcontainer/gitlab.crt
