{{ define "main" }}
<article>
    <h1>{{ .Params.hero.title }}</h1>

    <p class="body-1">
        {{ .Params.paragraph }}
    </p>

    {{ with .Params.sections }}
    <div>
        <h2>{{ .title }}</h2>
        
        <div class="home-grid">
            {{ range .blocks }}
            <!-- <div class="m-xs"> -->
                <div class="card">
                    <img src="{{ .image }}" alt="{{ .alt_text }}">
                    <h3 class="h4-style">{{ .title }}</h3>
                    <p>{{.description}}</p>
                    <a href="{{ .url }}">{{ .link_text }}</a>
                </div>
            <!-- </div> -->
            {{ end }}
        </div>

    </div>
    {{ end }}
</article>
{{ end }}