[build]
  publish = "public"
  command = "HUGO_BASEURL=$URL hugo"

[build.environment]
  HUGO_VERSION = "0.110.0"
  HUGO_ENABLEGITINFO = "true"

[dev]
  command = "hugo -b http://127.0.0.1:8888/ -w --buildDrafts -F "
  framework = "#static"
  publish = "./public/"

[context.deploy-preview]
  command = "HUGO_BASEURL=$DEPLOY_PRIME_URL hugo --printI18nWarnings --enableGitInfo"

[context.branch-deploy]
  command = "HUGO_BASEURL=$DEPLOY_PRIME_URL hugo --printI18nWarnings --buildDrafts --enableGitInfo"

[[context.production.plugins]]
package = "netlify-plugin-checklinks"
  [context.production.plugins.inputs]
  skipPatterns = [".netlify.app"]