/* You can add custom styles here. */

// @import "plugins/numbered";
body {
    background-color: $merkely-light-blue;
}

main.container {
    min-height: calc(100vh - #{$top-header-height});
    position: relative;
    top: $top-header-height;
}

aside.book-menu .book-menu-content {
    position: fixed;
    top: $top-header-height;
    padding-top: 1rem;
}

.markdown pre {
    background-color: #272822;
    color: #f8f8f2;
}

.book-brand {
    img {
        width: auto;
    }
    span {
        display: none;
    }
}

.book-menu .book-menu-content {
    background-color: $merkely-light-blue;
}

.book-search input {
    background-color: $merkely-white;
    border: 1px solid $merkely-dark-blue;
}

.book-page {
    background-color: $merkely-white;
}

.top-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $merkely-dark-blue;
    height: $top-header-height;
    color: $merkely-white;

    .container {
        height: $top-header-height;
        .docs-logo {        
            width: 16rem;
            padding: 1.5rem 1.2rem 1.2rem;
        }

        .separator {
            width: 1px;
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            margin: 0.8rem 0;
        }

        .back-to-site {
            margin: 1.8rem 0;
            a {
                color: $merkely-white;
                display: block;
                padding-left: 1.5rem;
            }
        }
    }
}

.markdown table {
    width: 100%;
    display: table;

    tr {
        background-color: transparent !important;
        th {
            color: $merkely-medium-blue;
            border: 0;
        }
    
        td {
            border: 0px;
        }
    }

    td:first-child {
        width: 275px;
        font-family: 'Roboto Mono', monospace;
    }
}