/* You can override SASS variables here. */

// @import "plugins/dark";

$merkely-dark-blue: #010d5a;
$merkely-medium-blue: #0139d3;
$merkely-lavender-blue: #5273c9;
$merkely-light-blue: #f4f6fd;
$merkely-white: #fff;

$top-header-height: 70px;