{{ $json := getJSON "assets/metadata.json" }}
{{ $currentVersion := $json.currentversion}}

<div class="docs-version-selector">
    <select name="docsVersion" aria-label="Choose docs version" onchange="chooseDocsVersion(this)">
        <option value="choose">-- choose version --</option>
        <option value="latest">{{ $currentVersion }} (latest)</option>
        {{- $legacyRef := where .Site.Pages ".Section" "==" "legacy_ref" -}}
        {{- $legacyPage := .GetPage "/legacy_ref/"}}
        {{ range $legacyRef }}
            {{ if and .IsSection (.IsDescendant $legacyPage)}}
            <option {{ if in $.Permalink .Title }} selected {{ end }} value="{{ .Title }}">{{ .Title }}</option>
            {{ end }}
        {{ end }}
    </select>
</div>