---
title: Kubernetes Reporter Helm Chart
---

{{ template "chart.header" . }}

{{ template "chart.versionBadge" . }}

{{ template "chart.description" . }}
{{ template "extra.longdescription" . }}

{{ template "extra.prerequisites" . }}

{{ template "extra.install" . }}

{{ template "extra.upgrade" . }}


{{ template "extra.valuesHeader" . }}
{{ template "chart.valuesTable" . }}

{{ template "helm-docs.versionFooter" . }}