/* You can add custom styles here. */

// @import "plugins/numbered";
// body {
//     background-color: $neutral-200;
// }

h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 80px;
    font-weight: 500;
}

.toc-title {
    font-weight: 600;
    color: $black-100;
    margin-bottom: 1rem;
    margin-top: 0;
    font-size: 14px;
}

.container {
    max-width: 100%;
}

main.container {
    max-width: 100%;
    min-height: calc(100vh - #{$top-header-height});
    position: relative;
    top: $top-header-height;
}

aside.book-menu .book-menu-content {
    position: fixed;
    top: $top-header-height;
    padding-top: 1rem;
}

aside.book-toc .book-toc-content {
    position: sticky;
    padding-top: 0;
    top: calc(#{$top-header-height} + 2rem);
}

.markdown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.markdown pre {
    background-color: #272822;
    color: #f8f8f2;
}

.markdown img {
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
    margin: 1rem 0rem;
}

.book-brand {
    img {
        width: auto;
    }
    span {
        display: none;
    }
}

.book-menu .book-menu-content {
    background-color: $neutral-200;
}

.book-search input {
    background-color: $neutral-100;
    border: 1px solid $blue-500;
}

.book-page {
    background-color: $neutral-100;
    max-width: 95rem;
    margin-left: auto;
    margin-right: auto;
}

.content-container {
    display: flex;
    flex: 1 0 auto;
}

.top-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $blue-500;
    height: $top-header-height;
    color: $neutral-100;

    .container {
        .docs-logo {        
            width: 16rem;
            margin: 1rem 0;
            text-align: center;
            border-right: 1px solid #fff;

            img {
                height: 40px;
            }
        }

        .separator {
            width: 1px;
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            margin: 0.8rem 0;
        }
    }
}

.light-console pre {
    background-color: $blue-400 !important;
    code {
        color: black;
    }
}

.command {
    cursor: pointer;
    code.language-shell::before {
        content: "bash";
        position: absolute;
        right: 8px;
        top: -15px;
        font-size: 8px;
        color: #272822;
    }
    .copiedText {
        opacity: 0;
        position: absolute;
        bottom: 3px;
        right: 23px;
        font-size: 11px;
        color: #fff;
        transition: opacity 0.2s;
        &.visible {
            opacity: 1;
        }
    }
    position: relative;
    &::after {
        position: absolute;
        bottom: -5px;
        right: -5px;
        content: "";
        height: 24px;
        width: 24px;
        background-image: url("/images/icons/kosli-icon-copy.svg");
        background-repeat: no-repeat;
    }    
    &:hover::after {
        background-image: url("/images/icons/kosli-icon-copy-hover.svg");       
    }
    &:active::after {
        background-image: url("/images/icons/kosli-icon-copy-clicked.svg");  
    }
    &:hover code {
        opacity: 0.7;
    }
}
.markdown table code {
    background-color: $black-200; 
}

.navigation-buttons {
    margin-top: 60px;

    a {
        font-weight: bold;
        &:hover {
            text-decoration: underline;
        }
    }

    .nav-title {
        margin-bottom: 5px;
    }
}

.docs-version-selector select {
    margin-right: 3rem;
    border: 1px solid #000d40;
    border-radius: 3px;
    padding: 5px;
}