/* You can add custom styles here. */

// @import "plugins/numbered";
body {
    background-color: $neutral-200;
}

main.container {
    min-height: calc(100vh - #{$top-header-height});
    position: relative;
    top: $top-header-height;
}

aside.book-menu .book-menu-content {
    position: fixed;
    top: $top-header-height;
    padding-top: 1rem;
}

.markdown pre {
    background-color: #272822;
    color: #f8f8f2;
}

.book-brand {
    img {
        width: auto;
    }
    span {
        display: none;
    }
}

.book-menu .book-menu-content {
    background-color: $neutral-200;
}

.book-search input {
    background-color: $neutral-100;
    border: 1px solid $blue-500;
}

.book-page {
    background-color: $neutral-100;
}

.top-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $blue-500;
    height: $top-header-height;
    color: $neutral-100;

    .container {
        height: $top-header-height;
        .docs-logo {        
            width: 16rem;
            padding: 1.5rem 1.2rem 1.2rem;
            text-align: center;

            img {
                height: 100%;
            }
        }

        .separator {
            width: 1px;
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            margin: 0.8rem 0;
        }
    }
}

.light-console pre {
    background-color: $blue-400 !important;
    code {
        color: black;
    }
}

.command {
    cursor: pointer;
    code.language-shell::before {
        content: "bash";
        position: absolute;
        right: 8px;
        top: -15px;
        font-size: 8px;
        color: #272822;
    }
    .copiedText {
        opacity: 0;
        position: absolute;
        right: 8px;
        top: 30px;
        color: #fff;
        transition: opacity 0.2s;
        &.visible {
            opacity: 100;
        }
    }
    position: relative;
    &::after {
        position: absolute;
        top: 8px;
        right: 8px;
        content: "";
        height: 24px;
        width: 24px;
        background-image: url("/images/copy-icon.png");
        background-repeat: no-repeat;
    }    
    &:hover::after {
        opacity: 0.7;        
    }
    &:hover code {
        opacity: 0.7;
    }
}


