.hero {
    background-color: $blue-300;
    padding: $spacing-s;

    h1 {
        font-weight: 700;
        font-size: 60px;
        line-height: 72px;
        margin-top: 0;
    }

    a {
        color: $neutral-100;
        text-decoration: underline;
        font-weight: 700;
        &:hover {
            text-decoration: none;
        }
    }

    img {
        max-width: 100%;
    }
}

.card {
    // background-color: $neutral-200;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    p {
        margin-top: 0;
    }

    img {
        width: 50px;
    }

    a {
        font-weight: 700;
        text-decoration: underline;
        color: $blue-100;
        display: block;
        margin-top: auto;
        &:hover {
            text-decoration: none;
        }
    }
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-m $spacing-s;
    h3 {
        font-size: 16px
    }
}

@media only screen and (max-width: 1100px) {
    .hero {
        .flex-even {
           min-width: 100%;
           padding: $spacing-s;
        }
    }
}

@media only screen and (min-width: $mobile-breakpoint) {
    .home-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        h3 {
            font-size: 20px
        }
    }
}
