.book-toc-content {
    ul {
        padding-inline-start: 2;
    }

    a {
        display: inline-block;
        border-left: 3px solid transparent;
        padding-left: 1rem;
    }

    a.active {
        font-weight: 700;
        border-color: var(--blue-500);
    }
}

.book-menu ul ul ul li a {
    padding-left: 1.4rem;
}

.book-menu a.beta::after {
    content: 'BETA';
    background-color: transparent;
    border: 1px solid $orange-100;
    color: $orange-100;
    border-radius: 20px;
    font-size: 0.6rem;
    padding: 1px 6px;
    margin-left: 5px;
    position: relative;
    bottom: 1px;
}