h1, .h1-style {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: $blue-500;
}

h2, .h2-style {
    font-weight: 500;
    font-size: 34px;
    line-height: 48px;
    color: $blue-500;
}

h3, .h3-style {
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: $blue-500;
}

h4, .h4-style {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $blue-500;
}

h5, .h5-style {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: $blue-500;
}

.body-1 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}