name: helm chart

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'charts/**'

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

#      - name: Set up Helm
#        uses: azure/setup-helm@v1
#        with:
#          version: v3.7.0
#
#      - name: Lint
#        run: cd charts/k8s-reporter && helm lint .
#
#      - name: Generate Helm Docs
#        run: |
#          curl -L https://github.com/norwoodj/helm-docs/releases/download/v1.5.0/helm-docs_1.5.0_linux_amd64.deb --output helm-docs.dep
#          sudo dpkg -i helm-docs.dep
#          rm helm-docs.dep
#          cd charts/k8s-reporter
#          helm-docs --template-files README.md.gotmpl,_templates.gotmpl --output-file README.md
#          helm-docs --template-files README.md.gotmpl,_templates.gotmpl --output-file ../../docs.kosli.com/content/helm/_index.md
#
#      - name: Helm Package
#        run: helm package charts/k8s-reporter --destination package
#
#      # Configure AWS credentials
#      - name: Configure AWS credentials
#        uses: aws-actions/configure-aws-credentials@v4
#        with:
#          role-to-assume: arn:aws:iam::358426185766:role/cli
#          aws-region: eu-central-1
#          role-duration-seconds: 2400
#          role-session-name: ${{ github.event.repository.name }}
#
#      - name: Copy old index.yaml from S3 to merge it with the new one
#        run: |
#          aws s3 cp s3://kosli-helm-charts-repo/stable/k8s-reporter/index.yaml package/old-index.yaml
#
#      - name: Helm regenerate repo index
#        run: helm repo index package/. --url https://charts.kosli.com/ --merge package/old-index.yaml
#
#      - name: Upload new chart and the update index.yaml to S3
#        run: |
#          rm package/old-index.yaml
#          aws s3 cp --recursive package s3://kosli-helm-charts-repo/stable/k8s-reporter/
#
#      - name: cleanup
#        run: |
#          rm -rf package

      - name: debug
        run: |
          echo >> README.md 

#      - uses: crazy-max/ghaction-import-gpg@v5
#        with:
#          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
#          passphrase: ${{ secrets.GPG_PASSPHRASE }}
#          git_user_signingkey: true
#          git_commit_gpgsign: true
  
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.COMMITTER_TOKEN }}
          committer: Jon Jagger <jon@kosli.com>
          commit-message: 'Update helm docs'
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: false
          delete-branch: true
          title: 'Update helm docs'
          body: |
            Update helms docs
