name: Init Kosli

on:
    workflow_call:
        inputs:
          flow_name:
            required: true
            type: string
          trail_name:
            required: true
            type: string
          flow_template_file:
            required: true
            type: string
          kosli_org:
            required: true
            type: string
        secrets:        
            kosli_api_token:
                required: true
            pr_github_token:
                required: false

jobs:
    init-kosli:
        name: Init Kosli
        runs-on: ubuntu-latest
        permissions:
            id-token: write
            contents: write
            pull-requests: read
        steps:

        - uses: actions/checkout@v4
          with:
            fetch-depth: 0

        - name: setup-kosli-cli
          uses: kosli-dev/setup-cli-action@v2
          with:
            version:
                ${{ vars.KOSLI_CLI_VERSION }}

        - uses: haya14busa/action-cond@v1
          id: description
          with:
            cond: ${{ inputs.flow_name == 'cli-release' }}
            if_true: "CLI release process"
            if_false: "CLI main branch changes"

        - name: Update Kosli Flow
          if: ${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/') }}
          env:
            KOSLI_API_TOKEN: ${{ secrets.kosli_api_token }}
          run: kosli create flow ${{inputs.flow_name}}
                --description "${{ steps.description.outputs.value }}"
                --template-file ${{inputs.flow_template_file}}
                --org ${{inputs.kosli_org}}

        - name: Init Kosli Trail
          if: ${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/') }}
          env:
            KOSLI_API_TOKEN: ${{ secrets.kosli_api_token }}
          run: kosli begin trail ${{inputs.trail_name}} 
                --flow ${{inputs.flow_name}} 
                --org ${{inputs.kosli_org}}

        - name: Report pull-request attestation to Kosli
          if: ${{ github.ref == 'refs/heads/main' }}
          env:
            KOSLI_API_TOKEN: ${{ secrets.kosli_api_token }}
          run: kosli attest pullrequest github
                --flow ${{inputs.flow_name}}
                --trail ${{inputs.trail_name}} 
                --name pr
                --github-token ${{ secrets.pr_github_token }}
                --org ${{inputs.kosli_org}}
        

        - name: Report never-alone attestation to Kosli
          if: ${{ github.ref == 'refs/heads/main' }}
          env:
            KOSLI_API_TOKEN: ${{ secrets.kosli_api_token }}
            KOSLI_ORG: ${{ inputs.kosli_org }}
            GH_TOKEN: ${{ github.token }}
          run: |
            USER_DATA_FILENAME=never-alone-user-data.json
            ./bin/never_alone/get_commit_and_pr_info.sh -c ${GITHUB_SHA} -o ${USER_DATA_FILENAME} 
            
            PR_URL=$(cat ${USER_DATA_FILENAME} | jq -r '.pullRequest.url // empty')
            if [ -n "$PR_URL" ]; then
                PR_ANNOTATE_ARG="--annotate pull_request=$PR_URL"

                commit_author_name=$(cat ${USER_DATA_FILENAME} | jq -r '.commit.author.name')
                review_decision=$(echo "${latest_never_alone_data}" | jq -r '.pullRequest.reviewDecision')
                reviewers=$(echo "${latest_never_alone_data}" | jq -r '.pullRequest.reviews[0].author.name')
                COMMITER_ANNOTATE_ARG="--annotate commit_author_name=${commit_author_name}"
                REVIEW_DECISION_ANNOTATE_ARG="--annotate review_decision=${review_decision}"
                REVIEWERS_ANNOTATE_ARG="--annotate reviewers=${reviewers}"

            else
                PR_ANNOTATE_ARG=""
                COMMITER_ANNOTATE_ARG=""
                REVIEW_DECISION_ANNOTATE_ARG=""
                REVIEWERS_ANNOTATE_ARG=""
            fi

            kosli attest generic \
              --org=${{inputs.kosli_org}} \
              --flow=${{inputs.flow_name}} \
              --trail=${{inputs.trail_name}} \
              --name=never-alone-data \
              --compliant=true \
              --user-data="${USER_DATA_FILENAME}" \
              ${PR_ANNOTATE_ARG} \
              ${COMMITER_ANNOTATE_ARG} \
              ${REVIEW_DECISION_ANNOTATE_ARG} \
              ${REVIEWERS_ANNOTATE_ARG}

