name: Install Script Tests

on:
    push:
        paths:
            - 'install-cli.sh'
            - '.github/workflows/install-script-tests.yml'
            - 'bin/test_install_script.sh'
            - 'bin/test_install_script_over_homebrew.sh'
    pull_request:
        paths:
            - 'install-cli.sh'
            - '.github/workflows/install-script-tests.yml'
            - 'bin/test_install_script.sh'
            - 'bin/test_install_script_over_homebrew.sh'
    workflow_dispatch:

jobs:
    test-script:
        name: Test Bash Script on ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]

        steps:
        - name: Checkout repository
          uses: actions/checkout@v5

        - name: Run install script test
          shell: bash
          run: |
            chmod +x install-cli.sh
            bash bin/test_install_script.sh

    mac-homebrew:
        name: Test Homebrew Installation on macOS
        runs-on: macos-latest

        steps:
        - name: Checkout repository
          uses: actions/checkout@v5
        - name: install homebrew
          shell: bash
          run: |
            /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

        - name: Run Homebrew install 
          shell: bash
          run: brew install kosli-cli

        - name: Verify Homebrew installation
          shell: bash
          run: command -v kosli
        
        - name: Run install script test
          shell: bash
          run: |
            chmod +x install-cli.sh
            bash bin/test_install_script_over_homebrew.sh