name: Main

on:
  push:
    branches:
      - '**'

jobs:
  pre-build:
    runs-on: ubuntu-20.04
    outputs:
      tag: ${{ steps.prep.outputs.tag }}
    steps:

    - uses: actions/checkout@v2

    - name: Prepare
      id: prep
      run: |
        TAG=$(echo $GITHUB_SHA | head -c7)
        echo "TAG=${TAG}" >> ${GITHUB_ENV}
        echo ::set-output name=tag::${TAG}

  build:
    needs: [pre-build]
    if: ${{ github.ref != 'refs/heads/prod' }}
    uses: kosli-dev/cli/.github/workflows/build.yml@main
    with:
      tag: ${{ needs.pre-build.outputs.tag }}
      platforms: linux/amd64
    secrets:
      slack_webhook: ${{ secrets.MERKELY_SLACK_CI_FAILURES_WEBHOOK }}
      slack_channel: ${{ secrets.MERKELY_SLACK_CI_FAILURES_CHANNEL }} 
      ghcr_user: ${{ secrets.GHCR_USER }}
      ghcr_token: ${{ secrets.GHCR_TOKEN }}
  
  deploy-staging:
    needs: [pre-build, build]
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: kosli-dev/cli/.github/workflows/deploy.yml@main
    with:
      tag: ${{ needs.pre-build.outputs.tag }}
      AWS_ACCOUNT_ID: 772819027869
      AWS_REGION: eu-central-1

  deploy-azure-staging:
    needs: [pre-build, build]
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: kosli-dev/cli/.github/workflows/deploy.yml@main
    with:
      tag: ${{ needs.pre-build.outputs.tag }}
      AWS_ACCOUNT_ID: 749993776354
      AWS_REGION: eu-central-1

  deploy-prod:
    needs: [pre-build]
    if: ${{ github.ref == 'refs/heads/prod' }}
    uses: kosli-dev/cli/.github/workflows/deploy.yml@main
    with:
      tag: ${{ needs.pre-build.outputs.tag }}
      AWS_ACCOUNT_ID: 358426185766
      AWS_REGION: eu-central-1

  deploy-dnb:
    needs: [pre-build]
    if: ${{ github.ref == 'refs/heads/prod' }}
    uses: kosli-dev/cli/.github/workflows/deploy.yml@main
    with:
      tag: ${{ needs.pre-build.outputs.tag }}
      AWS_ACCOUNT_ID: 439218355407
      AWS_REGION: eu-central-1

  deploy-stacc:
    needs: [pre-build]
    if: ${{ github.ref == 'refs/heads/prod' }}
    uses: kosli-dev/cli/.github/workflows/deploy.yml@main
    with:
      tag: ${{ needs.pre-build.outputs.tag }}
      AWS_ACCOUNT_ID: 310739635274
      AWS_REGION: eu-central-1

  deploy-modulr:
    needs: [pre-build]
    if: ${{ github.ref == 'refs/heads/prod' }}
    uses: kosli-dev/cli/.github/workflows/deploy.yml@main
    with:
      tag: ${{ needs.pre-build.outputs.tag }}
      AWS_ACCOUNT_ID: 344617554234
      AWS_REGION: eu-central-1
