name: Main

on:
  push:
    branches:
      - '**'

jobs:
  pre-build:
    runs-on: ubuntu-20.04
    outputs:
      tag: ${{ steps.prep.outputs.tag }}
    steps:

    - uses: actions/checkout@v2

    - name: Prepare
      id: prep
      run: |
        TAG=$(echo $GITHUB_SHA | head -c7)
        echo "TAG=${TAG}" >> ${GITHUB_ENV}
        echo ::set-output name=tag::${TAG}

  #build:
  #  needs: [pre-build]
  #  if: ${{ github.ref != 'refs/heads/prod' }}
  #  uses: kosli-dev/cli/.github/workflows/build.yml@main
  #  with:
  #    tag: ${{ needs.pre-build.outputs.tag }}
  #    platforms: linux/amd64
  #    AWS_ACCOUNT_ID: 772819027869
  #    AWS_REGION: eu-central-1
  #  secrets:
  #    slack_webhook: ${{ secrets.MERKELY_SLACK_CI_FAILURES_WEBHOOK }}
  #    slack_channel: ${{ secrets.MERKELY_SLACK_CI_FAILURES_CHANNEL }} 
  #    ghcr_user: ${{ secrets.GHCR_USER }}
  #    ghcr_token: ${{ secrets.GHCR_TOKEN }}
  
  upload-reporter-package-staging:
    #needs: [pre-build, build]
    needs: [pre-build]
    #if: ${{ github.ref == 'refs/heads/main' }}
    if: ${{ github.ref == 'refs/heads/repo-dispatch' }}
    #uses: kosli-dev/cli/.github/workflows/upload-reporter-package.yml@main
    uses: kosli-dev/cli/.github/workflows/upload-reporter-package.yml@repo-dispatch
    with:
      tag: ${{ needs.pre-build.outputs.tag }}
      s3_name: reporter-lambda-stagingdacef8339fbd41ce31c346f854a85d0c74f7c4e8
      AWS_ACCOUNT_ID: 772819027869
      AWS_REGION: eu-central-1

  deploy-staging-reporters:
    needs: [pre-build, upload-reporter-package-staging]
    #if: ${{ github.ref == 'refs/heads/main' }}
    if: ${{ github.ref == 'refs/heads/repo-dispatch' }}
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.KOSLI_REPORTER_REPO_ACCESS_TOKEN }}
          repository: kosli-dev/kosli-reporter
          event-type: deploy-reporter
          client-payload: '{"ref": "${{ github.ref }}", "tag": "${{ needs.pre-build.outputs.tag }}"}'
