name: Never Alone Kosli

on:
    workflow_call:
        inputs:
          flow_name:
            required: true
            type: string
          trail_name:
            required: true
            type: string
          flow_template_file:
            required: true
            type: string
          kosli_org:
            required: true
            type: string
        secrets:        
            kosli_api_token:
                required: true
            pr_github_token:
                required: false

jobs:
    never-alone-kosli:
        name: Never Alone Kosli
        runs-on: ubuntu-latest
        permissions:
            id-token: write
            contents: write
            pull-requests: read
        steps:

        - uses: actions/checkout@v4
          with:
            fetch-depth: 0

        - name: setup-kosli-cli
          uses: kosli-dev/setup-cli-action@v2
          with:
            version:
                ${{ vars.KOSLI_CLI_VERSION }}

        - uses: haya14busa/action-cond@v1
          id: description
          with:
            cond: ${{ inputs.flow_name == 'cli-release' }}
            if_true: "CLI release process"
            if_false: "CLI main branch changes"


        - name: Attest never alone evidence to Kosli Trail
          if: ${{ github.ref == 'refs/heads/main' }}
          env:
            KOSLI_API_TOKEN: ${{ secrets.kosli_api_token }}
            KOSLI_ORG: ${{ inputs.kosli_org }}
            GH_TOKEN: ${{ github.token }}
          run: |
            USER_DATA_FILENAME=never-alone-user-data.json
            
            ./bin/never_alone/get_commit_and_pr_info.sh -c "${GITHUB_SHA}" -o "${USER_DATA_FILENAME}"
            
            kosli attest generic \
              --org ${{inputs.kosli_org}} \
              --flow ${{inputs.flow_name}} \
              --trail ${{inputs.trail_name}} \
              --name=never-alone-data \
              --compliant=true \
              --user-data="${USER_DATA_FILENAME}"


        - name: Create never-alone release trail
          if: ${{ startsWith(github.ref, 'refs/tags/') }}
          env:
            KOSLI_API_TOKEN: ${{ secrets.kosli_api_token }}
            KOSLI_ORG: ${{ inputs.kosli_org }}
            GH_TOKEN: ${{ github.token }}
          run: |
            RELEASE_FLOW=cli-release-never-alone
            BASE_COMMIT=$(./bin/never_alone/get_commit_of_latest_release.sh)
            ATTESTATION_NAME="never-alone-data"
            
            ./bin/never_alone/create_review_trail_for_release.sh \
              -f ${RELEASE_FLOW} \
              -t ${{inputs.trail_name}} \
              -b ${BASE_COMMIT} \
              -p ${GITHUB_SHA} \
              -s ${{inputs.flow_name}} \
              -n ${ATTESTATION_NAME}


        #     KOSLI_COMPLIANT=$(jq 'if . == [] then true else false end' "${FAILED_PRS_FILENAME}")
            
        #     kosli attest generic \
        #       --org ${{inputs.kosli_org}} \
        #       --flow ${{inputs.flow_name}} \
        #       --trail ${{inputs.trail_name}} \
        #       --name=never-alone-control \
        #       --compliant=${KOSLI_COMPLIANT} \
        #       --attachments="${FAILED_PRS_FILENAME}"

        #     # A separate trail with one attestation per commit
        #     if [ ${{github.ref}} = "refs/heads/main" ]; then
        #       CODE_REVIEW_FLOW=cli-code-reviews
        #     else
        #       CODE_REVIEW_FLOW=cli-release-code-reviews
        #     fi
        #     MAIN_BRANCH=main
        #     ./bin/never_alone_create_review_trail.sh -m "${MAIN_BRANCH}" \
        #       -f "${CODE_REVIEW_FLOW}" \
        #       -c "${GITHUB_SHA}" \
        #       -t "${{inputs.trail_name}}"

        #     TRAIL_COMPLIANCE=$(kosli get trail ${{inputs.trail_name}} \
        #       --flow ${CODE_REVIEW_FLOW} --output json | jq .compliance_status.is_compliant)

        #     # Link the code-review trail in as a generic attestation.
        #     # The best would be if we had:
        #     #   kosli attest trail-link --trail ${{inputs.trail_name}} --linked-trail ${CODE_REVIEW_FLOW}
        #     kosli attest generic \
        #       --org ${{inputs.kosli_org}} \
        #       --flow ${{inputs.flow_name}} \
        #       --trail ${{inputs.trail_name}} \
        #       --compliant=${TRAIL_COMPLIANCE} \
        #       --name code-reviews \
        #       --external-url review-trail=https://app.kosli.com/${{inputs.kosli_org}}/flows/${CODE_REVIEW_FLOW}/trails/${{inputs.trail_name}}
