name: Check of updates to secrets info files

on:
  push:
    branches:
      - master
    paths:
      - 'secrets/*.txt'


env:
  KOSLI_API_TOKEN: ${{ secrets.KOSLI_API_TOKEN_PROD }}


jobs:
  secrets-update:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Setup Kosli CLI
        uses: kosli-dev/setup-cli-action@v2
        with:
          version:
            ${{ vars.KOSLI_CLI_VERSION }}

      - name: Report secrets update
        run:
          ./bin/report_update_of_secrets.sh ${{ github.repository }}
