name: Upload reporter lambda package to S3

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      AWS_ACCOUNT_ID:
        required: true
        type: string
      AWS_REGION:
        required: true
        type: string
      s3_name:
        required: true
        type: string
        

jobs:
  upload:
    runs-on: ubuntu-20.04
    permissions:
      id-token: write
      contents: write
    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-go@v3
      with:
        go-version: '1.20.2'

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1-node16
      with:
        role-to-assume: arn:aws:iam::${{ inputs.AWS_ACCOUNT_ID }}:role/cli
        aws-region: ${{ inputs.AWS_REGION }}
        role-duration-seconds: 2400
        role-session-name: ${{ github.event.repository.name }}

    - name: Upload reporter lambda package
      id: upload-reporter-lambda-package
      env:
        TAG: ${{ inputs.tag }}
        S3_NAME: ${{ inputs.s3_name }}
      run: ./bin/upload_reporter_package.sh
